@charset "utf-8";
@font-face{
	font-family:'NotoSansDemiLight';
	font-style:normal;
	font-weight:normal;
	src:url('https://gimunique.github.io/common/font/NotoSans-DemiLight.eot');
	src:local(※), url('https://gimunique.github.io/common/font/NotoSans-DemiLight.woff') format('woff');
}
@font-face{
	font-family:'NotoSansMedium';
	font-style:normal;
	font-weight:normal;
	src:url('https://gimunique.github.io/common/font/NotoSans-Medium.eot');
	src:local(※), url('https://gimunique.github.io/common/font/NotoSans-Medium.woff') format('woff');
}