@charset "utf-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{font-family:'맑은 고딕','malgun gothic','돋움','dotum','sans-serif';font-size:20px;line-height:1;color:#777}
h1, h2, h3 ,h4 ,h5 ,h6{font-family:'맑은 고딕','malgun gothic','돋움','dotum','sans-serif'}
ol, ul{list-style:none}
a, img{vertical-align:top}
a, a:link, a:visited{color:#000;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
a:hover{text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
input, textarea, button, select{font-size:inherit;font-family:inherit}
label, button{cursor:pointer}
button{background-color:transparent;border:0;outline:none}
legend, caption, .blind{position:absolute;left:0;top:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
hr{display:none}

/* gnb */
#gnb{min-width:1200px !important}
#gnb .gnb_container{width:1200px !important}
.layer.leftLayer li a, .layer.leftLayer li img{vertical-align:baseline}
.gnb_container .right_menu li.last{padding-right:0}

/* event common */
.wrap, .section{position:relative;width:100%;overflow:hidden}
.wrap{min-width:1200px;letter-spacing:-1px;background:url("../images/bg.jpg") 50% 0 no-repeat}
.wrap button{position:relative;display:block}
.wrap .bold{font-weight:bold}
.section .content{position:relative;width:1200px;margin:0 auto}
.wrap h3, .wrap h4, .wrap button, .link li, .title_wrap h2 span, .title_wrap .date, .board_box > div span, .result_wrap strong, .gift_wrap li, .quick li, .board_box .tip, .pop_wrap .pop ol, .pop_wrap .pop ul{text-indent:-9999px}
/* .event_wrap h2 span,  */.event_wrap h2 .h2_bg, .event_wrap h2 .h2_top span, .event_wrap h2 .h2_btm span, .event_wrap .date, .caution_wrap h4, .gift_wrap h4{background:url("../images/spr_title.png") no-repeat}
.board_content .btn_how, .board_content .btn_list, .board_content button span, .board_box .current_position, .result_wrap strong, .board_content .finish_coin, .board_content .score, .board_box .tip{background:url("../images/spr_board.png") no-repeat}
.wrap .shadow{position:fixed;top:0;bottom:0;left:0;right:0;display:block;width:100%;height:100%;background-color:#000;z-index:1000}

/* event */
.event_wrap h1, .event_wrap .link{position:absolute;z-index:100}
.event_wrap h1{left:40px;top:27px}
.event_wrap .link{right:40px;top:35px}
.event_wrap .link li{float:left;width:40px;height:40px;margin-left:6px}
.event_wrap .link li a{display:block;width:100%;height:100%;background:#152957 url("../images/spr_link.png") no-repeat}
.event_wrap .link .event a{background-position:-40px 0}
.event_wrap{height:2780px}
.event_wrap .content{height:2590px;padding-top:40px}
.title_wrap{position:relative;z-index:1}
.title_wrap h2{position:relative;width:790px;height:386px;margin:0 auto}
.title_wrap h2 span{display:block}
.title_wrap h2 .h2_top, .event_wrap h2 .h2_btm{position:absolute}
.title_wrap h2 .h2_bg{height:100%;opacity:0}
.title_wrap h2 .h2_top{left:148px;top:80px;width:494px;height:58px}
.title_wrap h2 .h2_top span{float:left;width:42px;height:100%;opacity:0}
.title_wrap h2 .h2_top .t1{background-position:-148px -386px}
.title_wrap h2 .h2_top .t2{background-position:-190px -386px}
.title_wrap h2 .h2_top .t3{background-position:-232px -386px}
.title_wrap h2 .h2_top .t4{background-position:-274px -386px}
.title_wrap h2 .h2_top .t5{margin-right:32px;background-position:-316px -386px}
.title_wrap h2 .h2_top .t6{background-position:-390px -386px}
.title_wrap h2 .h2_top .t7{background-position:-432px -386px}
.title_wrap h2 .h2_top .t8{background-position:-474px -386px}
.title_wrap h2 .h2_top .t9{background-position:-516px -386px}
.title_wrap h2 .h2_top .t10{background-position:-558px -386px}
.title_wrap h2 .h2_top .t11{background-position:-600px -386px}
.title_wrap h2 .h2_btm{left:80px;bottom:98px;width:630px;height:145px}
.title_wrap h2 .h2_btm span{float:left;height:100%;opacity:0}
.title_wrap h2 .h2_btm .b1{width:321px;background-position:-80px -450px}
.title_wrap h2 .h2_btm .b2{width:309px;background-position:-401px -450px}
.title_wrap .date{height:25px;margin-top:-62px;background-position:50% -605px;opacity:0}
.gift_wrap{position:relative;height:667px;margin:-30px 0 69px}
.gift_wrap h4{height:95px;background-position:50% -640px}
.gift_wrap li{position:absolute;background:url("../images/spr_gift.png") no-repeat}
.gift_wrap .pad{left:10px;top:135px ;width:844px;height:414px}
.gift_wrap .book{right:-30px;bottom:0;width:597px;height:548px;background-position:0 -414px}
.caution_wrap h4{width:118px;height:30px;margin-bottom:12px;background-position:0 -735px}
.caution_wrap ol{margin-left:19px;*margin-left:27px;list-style:decimal;line-height:30px}
.event_wrap .address{width:100%;height:150px;line-height:150px;text-align:center;color:#aaa;background-color:#15191f}

/* board */
.board_wrap{position:relative;left:-140px;top:-50px;width:1199px;height:890px;padding:140px 141px 140px 140px;background:url("../images/bg_board.png") 50% 0 no-repeat;opacity:0;z-index:100}
.board_wrap .current_position{left:-5px;top:-56px;width:110px;height:130px;background-position:-154px 0}

.board_box{position:relative;width:1199px;height:890px}
.board_box .board div, .board_box .tip, .board_box .current_position{position:absolute}
.board_box .tip{left:-149px;top:-10px;width:154px;height:130px}
.board_box .board{width:100%;height:100%}
.board_box .board div{width:99px;height:98px}
.board_box .board div span{display:block;width:100%;height:100%}
.board_box .top{top:0}
.board_box .right{right:0}
.board_box .bottom{bottom:0}
.board_box .left{left:0}
.board_box .space31{left:0}
.board_box .space2, .board_box .space30{left:100px}
.board_box .space3, .board_box .space29{left:200px}
.board_box .space4, .board_box .space28{left:300px}
.board_box .space5, .board_box .space27{left:400px}
.board_box .space6, .board_box .space26{left:500px}
.board_box .space7, .board_box .space25{left:600px}
.board_box .space8, .board_box .space24{left:700px}
.board_box .space9, .board_box .space23{left:800px}
.board_box .space10, .board_box .space22{left:900px}
.board_box .space11, .board_box .space21{left:1000px}
.board_box .space12, .board_box .space20{left:1100px}
.board_box .space13, .board_box .space38{top:99px}
.board_box .space14, .board_box .space37{top:198px}
.board_box .space15, .board_box .space36{top:297px} 
.board_box .space16, .board_box .space35{top:396px}            
.board_box .space17, .board_box .space34{top:495px}
.board_box .space18, .board_box .space33{top:594px}
.board_box .space19, .board_box .space32{top:693px}

.board_content{position:absolute;left:262px;top:261px;width:955px;height:648px;letter-spacing:0}
.board_content button span{position:absolute;top:0;display:block;height:100%}
.board_content .btn_how{position:absolute;right:40px;top:40px;width:170px;height:35px;background-position:-264px 0}
.board_content .btn_how span{left:120px;width:6px;background-position:-264px -35px}
.board_content .dice_wrap{position:relative;width:532px;height:190px;margin:98px auto 50px}
.board_content .dice_wrap .btn_roll, .board_content .dice_wrap .dice{width:190px;height:190px;background:url("../images/spr_dice.png") no-repeat}
.board_content .dice_wrap span{display:block}
.board_content .dice_wrap .btn_roll{position:absolute;left:171px;top:0;/* cursor:url("../images/cursor.cur"), pointer */}
.board_content .dice_wrap .btn_roll.shake{animation:diceShake 300ms}
.board_content .dice_wrap .dice{position:relative;margin:0 auto;z-index:1}
.board_content .dice_wrap .dice_roll1{background-position:0 -190px}
.board_content .dice_wrap .dice_roll2{background-position:0 -380px}
.board_content .dice_wrap .dice_roll3{background-position:0 -570px}
.board_content .dice_wrap .dice_roll4{background-position:0 -760px}
.board_content .dice_wrap .dice_roll5{background-position:0 -950px}
.board_content .dice_wrap .dice_roll6{background-position:0 -1140px}
.board_content .dice_wrap .dice1{background-position:0 -1330px}
.board_content .dice_wrap .dice2{background-position:0 -1520px}
.board_content .dice_wrap .dice3{background-position:0 -1710px}
.board_content .dice_wrap .dice4{background-position:0 -1900px}
.board_content .dice_wrap .dice5{background-position:0 -2090px}
.board_content .dice_wrap .dice6{background-position:0 -2280px}
.board_content .dice_wrap .arrow{position:absolute;top:65px;width:136px;height:60px}
.board_content .dice_wrap .a1{left:0;background:url("../images/arrow_left.gif") no-repeat}
.board_content .dice_wrap .a2{right:0;background:url("../images/arrow_right.gif") no-repeat}
.board_content .score_wrap{width:798px;margin:0 auto}
.board_content .score_wrap h3{height:19px;padding-top:19px;margin-bottom:11px}
.board_content .score{float:left;width:260px;height:100px;margin:0 3px 14px;text-align:center}
.board_content .s1{background-position:0 -130px}
.board_content .s2{background-position:-260px -130px}
.board_content .s3{background-position:-520px -130px}
.board_content .score .rest_count{font-size:30px;color:#fff}
.board_content .score .get_count{margin-left:11px;color:#666}
.board_content .s1 .rest_count{color:#00f0ff}
.board_content .score_wrap strong{clear:both;display:block;width:100%;height:15px;margin-top:15px;background-position:50% -230px}
.board_content .finish_wrap{width:600px;height:70px;margin:40px auto 0}
.board_content .finish_wrap > div, .board_content .finish_coin h3, .board_content .finish_coin p{float:left}
.board_content .finish_coin{width:300px;height:100%;background-position:0 -245px}
.board_content .finish_coin h3{width:170px;height:100%}
.board_content .finish_coin p{width:90px;height:100%;padding-right:40px;font-size:30px;text-align:right;line-height:67px;color:#fa5824}
.board_content .btn_list{width:300px;height:100%;background-position:-300px -245px}
.board_content .btn_list span{left:249px;width:10px;background-position:-610px -245px}                    

/* pop */
.pop_wrap, .pop_wrap .pop{display:none}
.pop_wrap{position:absolute;left:0;top:0;width:100%;height:100%;z-index:500}
.pop_wrap .dimmed{position:fixed;top:0;bottom:0;left:0;right:0;display:block;width:100%;height:100%;background-color:#000;opacity:0.7;filter:alpha(opacity=70)}
.pop h4, .pop .btn_close, .pop li, .pop2 .btn_change{background:url("../images/spr_pop.png") no-repeat}
.pop_wrap .pop{position:absolute;left:50%;top:640px;width:864px;height:568px;margin-left:-432px;background-color:#e6e6e6}
.pop_wrap .pop .btn_close{position:absolute;right:0;top:0;width:70px;height:70px;background-position:-864px 0}
.pop_wrap .pop h4{width:100%;height:70px;background-color:#2c3037}
.pop_wrap .pop ol, .pop_wrap .pop ul{padding:30px 29px 0}
.pop_wrap .pop li{float:left}
.pop_wrap .pop1 li{width:391px;height:404px;background-position:-29px -140px}
.pop_wrap .pop1 .get2{margin-left:24px;background-position:-444px -140px}
.pop_wrap .pop2 h4{background-position:0 -70px}
.pop_wrap .pop2 li{position:relative;width:157px;height:438px;margin-right:5px;background-position:-29px -544px}
.pop_wrap .pop2 .get2{background-position:-191px -544px}
.pop_wrap .pop2 .get3{background-position:-353px -544px}
.pop_wrap .pop2 .get4{background-position:-515px -544px}
.pop_wrap .pop2 .get5{margin-right:0;background-position:-677px -544px}
.pop_wrap .pop2 li .btn_change{position:absolute;left:11px;bottom:10px;width:136px;height:46px;background-position:-881px -70px}

/* visual */
.wrap .ani_obj, .wrap .moving_dice{position:absolute;display:block;background:url("../images/spr_visual.png") no-repeat}
.wrap .a_dice{right:-333px;top:88px;width:422px;height:436px;background-position:-340px 0;opacity:0}
.wrap .paper{right:-213px;top:492px;width:542px;height:657px;background-position:0 -750px;opacity:0}
.wrap .diamond{left:-355px;top:1308px;width:455px;height:516px;background-position:-542px -750px}
.wrap .m_dice1{left:-495px;top:610px;width:340px;height:700px}
.wrap .m_dice2{right:-510px;top:1265px;width:565px;height:750px;background-position:-762px 0}

/* quick */
.quick{position:fixed;right:40px;top:50%;margin-top:-170px;z-index:100}
.quick li{position:relative;width:140px;height:140px;margin:15px 0}
.quick li a, .quick li span{display:block;width:100%;height:100%}
.quick li span{position:absolute;left:0;top:0;background:url("../images/spr_quick.png") no-repeat}
.quick .q_txt{background-position:-140px 0}
.quick .return .q_bg{background-position:0 -140px}
.quick .return .q_txt{background-position:-140px -140px}
.quick li a:hover .q_bg{transform:rotateY(360deg);transition:all 350ms ease-in-out}

/* animation */
@keyframes diceShake{
    from, to{transform:translate(0, 0)}
    10%, 30%, 50%, 70%, 90%{transform:translate(-5px, 0)}
    20%, 40%, 60%, 80%{transform:translate(5px, 0)}
}