@charset "utf-8";
html,body,div,p,img,span,a,em,strong,pre,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tbody,thead,tfoot,tr,th,td,form,fieldset,legend,caption,input,textarea,button,select,object,video,iframe{margin:0;padding:0}
html{overflow-y:scroll}
body{font-family:"맑은 고딕","Malgun gothic","돋움","dotum","굴림",Gulim,Helvetica,sans-serif;font-size:14px;color:#4b4b4b;line-height:1;-webkit-font-smoothing:subpixel-antialiased;text-rendering:optimizeLegibility;background:#e6e6e6}
input,textarea,button,select{font-size:inherit;font-family:inherit}
img,fieldset,button{border:0}
table{border-collapse:collapse;border-spacing:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:link{text-decoration:none;color:#fff} 
:root a:active{background-color:transparent}
a,img{vertical-align:top}
hr{display:none}
legend,.blind{position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
label{cursor:pointer}
.ls0{letter-spacing:0}

/*공통*/
.container{position:relative;width:100%;min-width:1250px}
.container_wrap{position:absolute;left:0;top:0;width:100%;background:#000 url("../images/bg_wrap.jpg") 50% 0 no-repeat}
.wrap{position:relative;top:0;width:100%;height:100%;overflow:hidden}
.wrap .link a{font-family:"돋움",dotum;font-size:12px;line-height:1}
.wrap .link a:hover{text-decoration:underline}
.wrap .link span{padding:0 5px 0 3px;font-family:"돋움",dotum;font-size:12px;line-height:14px;vertical-align:4px}
.bg_hide{display:block;width:100%;height:100%;position:fixed;top:0;bottom:0;left:0;right:0;background-color:#000;opacity:0.75;filter:alpha(opacity=75);z-index:20}
.bg_hide{_display:none !important}

/*메인*/
.main h1{position:absolute;left:66px;top:46px}
.main .link{position:absolute;right:66px;top:63px}
.main .link a, .main .link span{color:#a0a0a0}
.main .copy{position:absolute;left:50%;bottom:15px;width:244px;height:11px;margin-left:-122px;background:url("../images/copy_main.png") no-repeat}
.main .main_title{position:absolute;right:174px;top:85px;width:750px;height:440px;background:url("../images/main_title.png") no-repeat}
.main .main_title.w_1280{right:10px}
.main .main_menu{position:absolute;left:52px;top:300px;width:620px;overflow:hidden;opacity:0}
.main .main_menu.w_1280{left:10px}
.main .main_menu li{float:left;width:310px;height:228px}
.main .main_menu li a{display:block;width:100%;height:100%;background:url("../images/spr_m-menu.png") no-repeat}
.main .main_menu .m2 a{background-position:-310px 0}
.main .main_menu .m3 a{background-position:0 -228px}
.main .main_menu .m4 a{background-position:0 -456px}
.main .main_menu .m5 a{background-position:-310px -228px}
.main .main_menu .m1 a:hover{background-position:-621px 0}
.main .main_menu .m2 a:hover{background-position:-931px 0}
.main .main_menu .m3 a:hover{background-position:-621px -228px}
.main .main_menu .m4 a:hover{background-position:-621px -456px}
.main .main_menu .m5 a:hover{background-position:-931px -456px}

/*서브-공통*/
.sub{display:none}
.sub .wave{position:absolute;left:0;top:0;display:block;width:100%;height:100%;background:url("../images/bg_wrap.jpg") 0 -800px no-repeat}
.sub .event_wrap{position:relative}
.sub .event{display:none;position:relative;width:100%;letter-spacing:-1px}
.sub .link{position:absolute;right:66px;top:47px;z-index:10}
.sub .link a, .sub .link span{color:#2d2d2d}
.sub .sub_menu{position:absolute;left:0;top:0;width:675px;height:615px;background:url("../images/bg_s-menu.png") no-repeat;z-index:10}
.sub .sub_menu.w_1280{left:-85px;width:670px}
.sub .sub_menu .handle{position:absolute;left:68px;top:85px;display:block;width:415px;height:420px;background:url("../images/bg_handle.png") no-repeat}
.sub .sub_menu .btn_top{position:absolute;left:232px;top:250px}
.sub .sub_menu li{position:absolute;left:208px;top:72px}
.sub .sub_menu .m2{left:404px;top:140px}
.sub .sub_menu .m3{left:460px;top:274px}
.sub .sub_menu .m4{left:404px;top:412px}
.sub .sub_menu .m5{left:207px;top:479px}
.sub .sub_menu li a{display:block;width:140px;height:40px;background:url("../images/spr_s-menu.png") 0 -40px no-repeat}
.sub .sub_menu li a:hover{transition:left 0.4s ease}
.sub .sub_menu .m2 a{background-position:-140px -40px}
.sub .sub_menu .m3 a{background-position:-280px -40px}
.sub .sub_menu .m4 a{background-position:-560px -40px}
.sub .sub_menu .m5 a{background-position:-420px -40px}
.sub .sub_menu .m1 a:hover, .sub .sub_menu .m1.on a{background-position:0 0}
.sub .sub_menu .m2 a:hover, .sub .sub_menu .m2.on a{background-position:-140px 0}
.sub .sub_menu .m3 a:hover, .sub .sub_menu .m3.on a{background-position:-280px 0}
.sub .sub_menu .m4 a:hover, .sub .sub_menu .m4.on a{background-position:-560px 0}
.sub .sub_menu .m5 a:hover, .sub .sub_menu .m5.on a{background-position:-420px 0}
.sub .sub_title{position:absolute;left:0;top:615px;width:580px;height:100%;padding-left:95px;background-color:#fff;filter:alpha(opacity=90);background-color:rgba(255,255,255,0.9)}
@media screen and (min-width:0\0){.sub .sub_title{filter:alpha(opacity=100)}} 
.sub .sub_title.w_1280{width:575px;padding-left:10px}
.sub .sub_title .btn_more-1{display:block;width:110px;margin:12px 0 15px 16px}
.sub .sub_title .copy{width:244px;height:11px;margin-left:13px;background:url("../images/copy_main.png") no-repeat}
.sub .page_wrap{width:1230px;margin-left:675px;background-color:#fff;filter:alpha(opacity=90);background-color:rgba(255,255,255,0.9)}
@media screen and (min-width:0\0){.sub .page_wrap{filter:alpha(opacity=100)}}  
.sub .page_wrap.w_1280{margin-left:585px}
.sub .page_wrap .page_top{position:relative;width:100%;height:331px}
.sub .page_wrap .page_top .line{position:absolute;left:0;bottom:0;display:block;width:100%;height:1px;background:url("../images/bg_page-top.png") 0 100% no-repeat}
.sub .page_wrap .page_top dl{position:absolute;left:351px;top:0;padding:18px 0 0 47px;*padding-top:44px}
.sub .page_wrap .page_top dt{margin:26px 0 8px;font-size:22px;font-weight:bold;letter-spacing:-2px}
.sub .page_wrap .page_top dd{color:#484848;line-height:17px}
.sub .page_wrap .page_menu{position:relative;width:351px;height:331px}
.sub .page_wrap .page_menu div{position:absolute;left:39px;bottom:20px;width:312px}
.sub .page_wrap .page_menu div h3{margin:0 0 26px -2px;font-size:45px;font-weight:normal;color:#fff;letter-spacing:-5px}
.sub .page_wrap .page_menu li{margin-bottom:14px}
.sub .page_wrap .page_menu li a{padding-right:14px;font-size:17px;opacity:0.6;filter:alpha(opacity=60);background:url("../images/blt_p-menu.png") 100% 12px no-repeat}
.sub .page_wrap .page_menu li a:hover, .sub .page_wrap .page_menu li.on a{font-weight:bold;opacity:1;filter:alpha(opacity=100)}
.sub .page_wrap .page{display:none;position:relative;padding:63px 0 180px}
.sub .page_wrap .page.page_1{display:block}
.sub .page_wrap .page.w_1280{width:670px}
.sub .page_wrap .page h4{margin:0 0 23px -2px;font-size:34px;font-weight:normal;color:#000;letter-spacing:-3px}
.sub .page_wrap .page h4 span{font-weight:bold}
.sub .page_wrap .page .p_img{position:relative;*zoom:1}
.sub .page_wrap .page .p_img:after{display:block;content:"";clear:both}
.sub .page_wrap .page .p_img li{float:left;position:relative;margin:0 8px 7px 0}
.sub .page_wrap .page .p_img li.last{margin-right:0}
.sub .page_wrap .page .p_img li a{display:block;width:100%;height:100%}
.sub .page_wrap .page .p_img .over{display:block;text-align:center;vertical-align:middle;background-color:#000;background-color:rgba(0,0,0,0.6);cursor:pointer}
.sub .page_wrap .page .p_img .over span{display:inline-block;vertical-align:middle}
.sub .page_wrap .page .p_img .over .space{height:100%}
.sub .page_wrap .page .p_img p{margin-bottom:18px;font-size:20px;line-height:1.3;letter-spacing:-2px}
.sub .page_wrap .page .pop{display:none;position:fixed;left:50%;top:50%;width:670px;margin-left:-335px;padding-top:61px;z-index:30}
.sub .page_wrap .page .pop .nav{position:absolute;left:0;bottom:0;width:100%;font-size:25px;line-height:30px;text-align:center;color:#fff;z-index:20}
.sub .page_wrap .page .pop .nav .title{display:inline-block;width:300px;height:67px;line-height:51px}
.sub .page_wrap .page .pop .nav a{display:inline-block;width:185px;height:67px;background:url("../images/spr_arrow.png") 100% 21px no-repeat}
.sub .page_wrap .page .pop .nav .next{background-position:0 -29px}
.sub .page_wrap .page .pop .nav .prev:hover{background-position:100% -79px}
.sub .page_wrap .page .pop .nav .next:hover{background-position:0 -129px}
.sub .page_wrap .page .pop .btn_close{position:absolute;right:0;top:0}
.sub .page_wrap .page .pop ul{position:relative}
.sub .page_wrap .page .pop li{display:none;position:absolute;left:0;top:0}
.sub .p_img-1 li{width:331px;height:185px}
.sub .p_img-1 .i2{background-position:-339px 0}
.sub .p_img-1 .i3{background-position:-678px 0}
.sub .p_img-1 .i4{background-position:0 -192px}
.sub .p_img-1 .i5{background-position:-339px -192px}
.sub .p_img-1 .i6{background-position:-678px -192px}
.sub .p_img-1 li .over{width:331px;height:185px}
.sub .page .story{line-height:1.8;color:#484848}
.sub .page .story strong{display:block;margin:-4px 0 36px -1px;font-size:45px;font-weight:normal;line-height:51px;letter-spacing:-5px}
.sub .page .story strong span{font-weight:bold}
.sub .page_wrap .page_menu .bg{position:absolute;left:0;top:;display:block;width:100%;height:100%;}

/*서브-이벤트1*/
.event_1 .page_wrap{background:rgba(255,255,255,0.9) url("../images/bg_event-1.png") 100% 0 no-repeat}
.event_1 .page_wrap .page_menu .bg{background-color:#3ac02c}
.event_1 .page_wrap dt{color:#3ac02c}
.event_1 .page_2{height:418px}
.event_1 .page_2 img{position:absolute;left:39px;top:68px}
.event_1 .page_3 li{background:url("../images/spr_1-3.jpg") no-repeat}
.event_1 .page_3 .pop{height:481px;margin-top:-271px}
.event_1 .page_4 li .over{width:218px;height:159px}
.event_1 .page_4 li{width:218px;height:159px;background:url("../images/spr_1-4.jpg") no-repeat}
.event_1 .page_4 .i2{background-position:-226px 0}
.event_1 .page_4 .i3{background-position:-452px 0}
.event_1 .page_4 .i4{background-position:-678px 0}
.event_1 .page_4 .i5{background-position:0 -166px}
.event_1 .page_4 .i6{background-position:-226px -166px}
.event_1 .page_4 .i7{background-position:-452px -166px}
.event_1 .page_4 .i8{background-position:-678px -166px}
.event_1 .page_4 .i9{background-position:0 -332px}
.event_1 .page_4 .i10{background-position:-226px -332px}
.event_1 .page_4 .i11{background-position:-452px -332px}
.event_1 .page_4 .i12{background-position:-678px -332px}
.event_1 .page_4 .i13{background-position:0 -498px}
.event_1 .page_4 .i14{background-position:-226px -498px}
.event_1 .page_4 .i15{background-position:-452px -498px}
.event_1 .page_4 .i16{background-position:-678px -498px}
.event_1 .page_4 .i17{background-position:0 -664px}
.event_1 .page_4 .i18{background-position:-226px -664px}
.event_1 .page_4 .i19{background-position:-452px -664px}
.event_1 .page_4 .pop{height:491px;margin-top:-276px}

/*서브-이벤트2*/
.event_2 .page_wrap{background:rgba(255,255,255,0.9) url("../images/bg_event-2.png") 100% 0 no-repeat}
.event_2 .page_wrap .page_menu .bg{background-color:#ce8b2d}
.event_2 .page_wrap dt{color:#ce8b2d}
.event_2 .page_1 .p_img li{background:url("../images/spr_2-1.png") no-repeat}
.event_2 .page_1 .p_img .i2{background-position:-339px 0}
.event_2 .page_1 .p_img .i3{background-position:-678px 0}
.event_2 .page_1 .p_img .i4{background-position:0 -192px}
.event_2 .page_1 .p_img .i5{background-position:-339px -192px}
.event_2 .page_1 .pop{height:588px;margin-top:-325px;/*height:819px;margin-top:-440px*/}
.event_2 .page_1 .pop li{width:100%;height:588px}
.event_2 .page_1 .pop .p1{background:url("../images/pop_2-1-1.gif") no-repeat}
.event_2 .page_1 .pop .p2{background:url("../images/pop_2-1-2.gif") no-repeat}
.event_2 .page_1 .pop .p3{background:url("../images/pop_2-1-3.gif") no-repeat}
.event_2 .page_1 .pop .p4{background:url("../images/pop_2-1-4.gif") no-repeat}
.event_2 .page_1 .pop .p5{height:819px;background:url("../images/pop_2-1-5.gif") no-repeat}

/*서브-이벤트3*/
.event_3 .page_wrap{background:rgba(255,255,255,0.9) url("../images/bg_event-3.png") 100% 0 no-repeat}
.event_3 .page_wrap .page_menu .bg{background-color:#56a494}
.event_3 .page_wrap dt{color:#56a494}
.event_3 .page_1 p{line-height:1.8;color:#484848}
.event_3 .page_1 p strong{display:block;margin:-4px 0 36px -1px;font-size:45px;font-weight:normal;line-height:51px;letter-spacing:-5px}
.event_3 .thumb_area{position:relative;height:568px}
.event_3 .thumb_area .thumb_btn{position:absolute;left:-1px;top:179px;width:357px;height:178px;z-index:10}
.event_3 .thumb_area .thumb_btn li{float:left;margin:0 5px 5px 0}
.event_3 .thumb_area .thumb_btn li a{display:block;width:84px;height:84px;background:url("../images/spr_3-1.png") 0 -180px no-repeat}
.event_3 .thumb_area .thumb_btn .t2 a{background-position:-89px -180px}
.event_3 .thumb_area .thumb_btn .t3 a{background-position:-178px -180px}
.event_3 .thumb_area .thumb_btn .t4 a{background-position:-269px -180px}
.event_3 .thumb_area .thumb_btn .t5 a{background-position:0 -269px}
.event_3 .thumb_area .thumb_btn .t6 a{background-position:-89px -269px}
.event_3 .thumb_area .thumb_btn .t1 a:hover, .event_3 .thumb_area .thumb_btn .t1.on a{background-position:0 0}
.event_3 .thumb_area .thumb_btn .t2 a:hover, .event_3 .thumb_area .thumb_btn .t2.on a{background-position:-89px 0}
.event_3 .thumb_area .thumb_btn .t3 a:hover, .event_3 .thumb_area .thumb_btn .t3.on a{background-position:-178px 0}
.event_3 .thumb_area .thumb_btn .t4 a:hover, .event_3 .thumb_area .thumb_btn .t4.on a{background-position:-269px 0}
.event_3 .thumb_area .thumb_btn .t5 a:hover, .event_3 .thumb_area .thumb_btn .t5.on a{background-position:0 -89px}
.event_3 .thumb_area .thumb_btn .t6 a:hover, .event_3 .thumb_area .thumb_btn .t6.on a{background-position:-89px -89px}
.event_3 .thumb_area .thumb_info{position:absolute;left:0;top:-92px}
.event_3 .thumb_area .thumb_info li{display:none;position:absolute;left:0;top:0;width:882px;height:660px;background:url("../images/img_char-1.png") 100% 0 no-repeat}
.event_3 .thumb_area .thumb_info .t2{background:url("../images/img_char-2.png") 100% 0 no-repeat}
.event_3 .thumb_area .thumb_info .t3{background:url("../images/img_char-3.png") 100% 0 no-repeat}
.event_3 .thumb_area .thumb_info .t4{background:url("../images/img_char-4.png") 100% 0 no-repeat}
.event_3 .thumb_area .thumb_info .t5{background:url("../images/img_char-5.png") 100% 0 no-repeat}
.event_3 .thumb_area .thumb_info .t6{background:url("../images/img_char-6.png") 100% 0 no-repeat}
.event_3 .thumb_area .thumb_info dt{margin:107px 0 19px;font-size:30px;color:#62a133;letter-spacing:-3px}
.event_3 .thumb_area .thumb_info dd{line-height:1.4;color:#484848}
.event_3 .thumb_area .thumb_info dd span{display:block;margin-bottom:7px;font-size:17px;font-weight:bold;color:#000;letter-spacing:-2px}

/*서브-이벤트4*/
.event_4 .page_wrap{background:rgba(255,255,255,0.9) url("../images/bg_event-4.png") 100% 0 no-repeat}
.event_4 .page_wrap .page_menu .bg{background-color:#747aba}
.event_4 .page_wrap dt{color:#686ebb}
.event_4 .page_wrap .page_1 ul{position:relative;left:-25px;width:695px;height:650px;*height:614px;margin-top:49px;background:url("../images/bg_4-1-1.png") no-repeat;overflow:hidden;z-index:11}
.event_4 .page_wrap .page_1 ul li{height:152px;*margin-top:-3px;border-bottom:1px solid #d5d6d4}
.event_4 .page_wrap .page_1 .leedy{margin-top:0}
.event_4 .page_wrap .page_1 .skaild{height:153px}
.event_4 .page_wrap .page_1 .last{height:151px}
.event_4 .page_wrap .page_1 dt{float:left;width:109px;padding:39px 0 0 190px;font-size:27px;line-height:1.2;color:#90623d;letter-spacing:-3px}
.event_4 .page_wrap .page_1 dd{float:left;height:152px;font-size:15px;line-height:1.5;color:#4c4c4c}
.event_4 .page_wrap .page_1 dd strong{display:block;padding-top:36px;font-size:20px;color:#000;letter-spacing:-2px}
.event_4 .page_wrap .page_1 .terms{width:105px;padding-left:18px}
.event_4 .page_wrap .page_2 ul{width:670px;height:472px;margin-top:50px}
.event_4 .page_wrap .page_2 li{float:left;width:332px;margin-right:5px}
.event_4 .page_wrap .page_2 .last{margin-right:0}
.event_4 .page_wrap .page_2 dt{margin-bottom:15px;font-size:28px;color:#90623d;letter-spacing:-3px}
.event_4 .page_wrap .page_2 dd{font-size:15px;line-height:1.5;letter-spacing:-2px}
.event_4 .page_wrap .page_2 li img{margin-top:20px}

/*서브-이벤트5*/
.event_5 .page_wrap{background:rgba(255,255,255,0.9) url("../images/bg_event-5.png") 100% 0 no-repeat}
.event_5 .page_wrap .page_menu .bg{background-color:#9e8d6b}
.event_5 .page_wrap dt{color:#88785a}
.event_5 .page_wrap .page_1 ul{width:670px;padding-right:20px;margin-top:36px;background:url("../images/spr_5-1.png") 100% 44px no-repeat}
.event_5 .page_wrap .page_1 li{padding:30px 0 49px;font-size:18px}
.event_5 .page_wrap .page_1 li.last{border-top:1px solid #d0d2d2}
.event_5 .page_wrap .page_1 li h5{font-size:22px;color:#945637;letter-spacing:-1px}
.event_5 .page_wrap .page_1 li p{margin:8px 0 20px;color:#484848}
.event_5 .page_wrap .page_1 li table{border-collapse:separate;border-spacing:2px}
.event_5 .page_wrap .page_1 li th{width:128px;height:40px;font-weight:normal;text-align:center;color:#fff;background:#2e454e;opacity:0.45;filter:alpha(opacity=45)}
.event_5 .page_wrap .page_1 li td{width:202px;padding:0 16px;text-align:left;color:#000}
.event_5 .page_wrap .page_1 li .fz{font-size:17px;line-height:1.3}
.event_5 .page_wrap .page_1 .last th{height:51px}
.event_5 .page_wrap .page_2 .p_img li{background:url("../images/spr_5-2.jpg") no-repeat}
.event_5 .page_wrap .page_2 .p_img .i2{background-position:-339px 0}
.event_5 .page_wrap .page_2 .p_img .i3{background-position:-678px 0}
.event_5 .page_wrap .page_2 .p_img .i4{background-position:0 -192px}
.event_5 .page_wrap .page_2 .p_img .i5{background-position:-339px -192px}
.event_5 .page_2 .pop{height:481px;margin-top:-271px}