@charset "utf-8";
@font-face{
  font-family:'NotoSansBold';
  font-style:normal;
  font-weight:700;
  src:url('https://gimunique.github.io/webfont/NotoSansBold.eot');
  src:local(※), url('https://gimunique.github.io/webfont/NotoSansBold.woff') format('woff');
}