@charset "utf-8";
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,address,em,img,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,textarea,table,caption,tbody,tfoot,thead,tr,th,td,video,pre,input,button,textarea,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;font-size:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{-webkit-text-size-adjust:none;-webkit-font-smoothing:subpixel-antialiased;text-rendering:optimizeLegibility;background-color:#000}
body,h1,h2,h3,h4,h5,h6{font-family:"맑은 고딕","malgun gothic","돋움","dotum","굴림","Gulim",sans-serif;font-size:18px;color:#cfbcaa;line-height:1}
input,textarea,select,button,label{font-size:inherit;font-family:inherit;color:inherit;border:0}
table{border-spacing:0;border-collapse:collapse}
ol,ul{list-style:none}
a, img,fieldset{border:0}
a, img{vertical-align:top}
a,a:link{color:inherit;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
address,em,i{font-style:normal}
hr{display:none}
caption, legend, .blind{position:absolute;top:-9999px;left:-9999px;overflow:hidden;font-size:0.1em;height:0}
.ls0{letter-spacing:0}

/* common */
.wrap{width:100%;min-width:1200px;overflow:hidden;letter-spacing:-1px}
.wrap .section{position:relative;width:100%;background-position:50% 0;background-repeat:no-repeat}
.section .content{position:relative;width:1200px;height:100%;margin:0 auto}
.section .content .align{position:absolute;left:50%;top:50%}
.wrap button{cursor:pointer;background-color:transparent;outline:none;border:0 none}
.wrap .logo a{position:absolute;left:50px;top:30px;display:block;width:146px;height:28px;padding:5px;background:url("../images/spr_logo.png") 5px 5px no-repeat}
.wrap .btn, .wrap .btn_float .img{display:block;background:url("../images/spr_btn.png") no-repeat}
.section .title h3, .section .title p, .section .event_list li{background:url("../images/spr_sub.png") 50% 0 no-repeat}
.section .title h3{width:100%;height:77px;transform:translateY(-30px);opacity:0;transition:all 800ms ease}
.section .title  p{width:100%;height:37px;margin-bottom:27px;transform:translateY(30px);opacity:0;transition:all 1000ms ease}
.section .event_list li{float:left;position:relative}
.section h2, .wrap h3, .wrap h4, .section .title p, .section .event_list p{text-indent:-9999px}
.section .str{display:block;width:100%;font-size:22px;font-weight:normal;text-align:center;letter-spacing:-2.8px}

/* active */
.section.active .title h3, .section.active .title p{transform:translateY(0);opacity:1}

/* 카페바로가기-버튼 */
.wrap .btn_float{position:absolute;right:0;width:264px;height:361px;background:url("../images/float.png") no-repeat;z-index:50}

/* .wrap.load .btn_float{right:23px;opacity:1;transition:all 600ms 300ms cubic-bezier(0.73, 0.13, 0.56, 1)} */

/* section1 */
.wrap .section1{min-height:916px;background-image:url("../images/bg1.jpg")}
.wrap .section1.end{min-height:auto}
.bg_video{position:absolute;left:50%;width:1920px;height:100%;margin-left:-960px;overflow:hidden;*display:none}
@media \0screen{.bg_video{display:none}}
.bg_video .video{width:100%;height:auto;object-fit:cover}
.bg_video .cover{position:absolute;left:0;top:0;right:0;bottom:0;display:block;width:100%;height:100%;background:url("../images/bg_pattern.png") repeat;z-index:1}
.section1 .content{z-index:10}
.section1 .content .align{width:728px;margin:-302px 0 0 -364px}
.section1 .content .align_r{margin-top:-302px}
.section1 h2{width:728px;height:279px;padding-top:170px;margin:0 auto 86px}
.section1 h2.h2_1{padding-top:0}
.section1 h2 span{display:block;width:728px;background:url("../images/spr_main.png") 50% 0 no-repeat}
.section1 h2 .title1{height:91px}
.section1 h2 .title2{height:188px;background-position:50% -91px}
.section1 .btn_cbt{width:351px;height:89px;margin:0 auto}
.section1 .btn_wrap{width:782px;height:94px;margin:86px auto 0}
.section1 .btn_google, .section1 .btn_one{float:left;width:374px;height:96px}
.section1 .btn_google{margin-right:34px;background-position:0 -489px}
.section1 .btn_one{background-position:0 -585px}
.section1 .scroll{position:absolute;left:50%;bottom:50px;width:56px;height:52px;background-position:-442px 0;margin-left:-28px;animation:scroll 1200ms infinite ease-out}
.section1 .end_txt{font-size:32px;text-align:center;line-height:1.5}
.section1 dl{width:655px;height:96px;margin:80px auto 0}
.section1 dt, .section1 dd{float:left;font-size:32px;line-height:1.4}
.section1 dt{/*clear:both;*/color:#cd8b63}
.section1 dd{margin-left:12px;color:#fff;opacity:0.8}
.section1 dt span{margin-right:9px}
@keyframes scroll{
    0%{transform:translateY(-4px)}
    50%{transform:translateY(4px)}
    100%{transform:translateY(-4px)}
}

/* section2 */
.section2{height:1179px;background-image:url("../images/bg2.jpg");/*background-attachment:fixed;*/z-index:2}
.section2 .align{width:1061px;height:932px;margin:-466px 0 0 -530px}
.section2 .logo a{background-position:5px -28px}
.section2 .title h3{background-position:50% -64px}
.section2 .event_list{height:593px;margin:58px 0 49px}
.section2 .event_list li{width:528px;height:593px;opacity:0;transition:all 800ms ease}
.section2 .event_list .e1{margin-right:5px;background-position:-87px -200px;transform:translateX(60px)}
.section2 .event_list .e2{background-position:-620px -200px;transform:translateX(-60px)}
.section2 .event_list .e2 strong{position:absolute;left:0;bottom:69px;width:100%;color:#e3d8d3}
.section2 .btn_event{width:419px;height:91px;margin:0 auto;background-position:0 -89px}
.section2.active .event_list .e1, .section2.active .event_list .e2{opacity:1;transform:translateX(0)}

/* section3 */                                                                                                     
.section3{height:1113px;background-image:url("../images/bg3.jpg");/*background-attachment:fixed*/}
.section3 .align{width:1160px;height:895px;margin:-447px 0 0 -580px}
.section3 .logo a{background-position:5px -61px}
.section3 .title p{background-position:50% -813px}
.section3 .title h3{background-position:50% -877px}
.section3 .event_list{width:1160px;height:518px;margin:47px 0 10px}
.section3 .event_list li{width:411px;height:518px;opacity:0;transition:all 800ms ease}
.section3 .event_list .e1{background-position:0 -1066px;transform:translateX(60px)}
.section3 .event_list .e2{margin-left:-37px;background-position:-411px -1066px;transform:translateY(-60px)}
.section3 .event_list .e3{margin-left:-37px;background-position:-822px -1066px;transform:translateX(-60px)}
.section3 strong{font-size:22px;color:#838d98;opacity:0.8}
.section3 .btn_cafe{width:419px;height:91px;margin:66px auto 0;background-position:0 -180px}
.address{width:100%;padding:22px 0 25px;font-size:16px;line-height:1.5;color:#515151;text-align:center;background-color:#0e0e0e;border-top:1px solid #272727}
.address p{letter-spacing:0}
.address a{color:#515151}
.section3.active .event_list .e1, .section3.active .event_list .e2, .section3.active .event_list .e3{opacity:1;transform:translateX(0)}

/* pop cbt */
.pop_cbt{display:none;position:fixed;top:0;bottom:0;left:0;right:0;z-index:100}
.pop_cbt .bg_pop, .pop_apply .agree_wrap bg_pop{display:block;width:100%;height:100%;background-color:#000;opacity:0.6;filter:alpha(opacity=60)}
.pop_cbt .pop, .pop_apply .pop_agree, .pop_apply .check_list li{background:url("../images/spr_pop.gif") no-repeat}
.pop_cbt .pop_apply{position:absolute;left:50%;top:50%;width:769px;height:515px;margin:-257px 0 0 -384px}
.pop_apply .btn_close{position:absolute;right:-72px;top:0;width:52px;height:52px;background-position:0 -437px}
.pop_apply h3{height:61px;margin:48px 0 27px 0}
.pop_apply .phone{position:relative;width:574px;height:80px;margin:0 auto;font-size:24px;color:#5d5b5b;text-align:center}
.pop_apply .phone input{width:530px;height:80px;padding:0 22px;background-color:#fae8d7;text-align:center;line-height:80px;outline:none}
.pop_apply .phone label{position:absolute;left:0;top:0;display:block;width:100%;height:100%;line-height:80px;cursor:text}
.pop_apply .check_list{padding-left:97px;margin-top:57px}
.pop_apply .check_list li{height:20px;margin-bottom:18px;*margin-bottom:13px}
.pop_apply .check_list li input{display:none;position:absolute;left:-9999px;width:1px;height:1px;visibility:hidden}
.pop_apply .check_list li label{float:left;display:block;height:20px;padding-left:20px;background:url("../images/spr_check.png") no-repeat;cursor:pointer}
.pop_apply .check_list li label.checked{background-position:0 -30px}
.pop_apply .check_list .a1{background-position:-97px -273px}
.pop_apply .check_list .a2{background-position:-97px -311px}
.pop_apply .check_list .a3{background-position:-97px -348px}
.pop_apply .check_list .a1 label{width:173px;margin-right:9px}
.pop_apply .check_list .a2 label{width:221px;margin-right:11px}
.pop_apply .check_list .a3 label{width:268px;margin-right:13px}
.pop_apply .check_list li button{float:left;width:62px;height:100%}
.pop_apply .btn_apply{width:340px;height:87px;margin:0 auto;background-position:0 -271px}
.pop_apply .agree_wrap{position:fixed;top:0;bottom:0;left:0;right:0;display:block;width:100%;height:100%}
.pop_apply .pop_agree{display:none;position:absolute;left:50%;top:50%;width:769px;margin-left:-384px;font-size:17px;text-align:center;letter-spacing:-2px}
.pop_apply .pop_agree h4{height:44px;margin:45px auto 21px}
.pop_apply .pop_agree li, .pop_apply .pop_agree p{line-height:33px}
.pop_apply .pop_agree .btn_confirm{width:267px;height:79px;margin:0 auto;background-position:0 -358px}
.pop_apply .pop_agree1{height:371px;margin-top:-185px;background-position:0 -515px}
.pop_apply .pop_agree1 .btn_confirm{margin-top:33px}
.pop_apply .pop_agree2{height:498px;margin-top:-249px;background-position:0 -886px}
.pop_apply .pop_agree2 .btn_confirm{margin-top:25px}
.pop_apply .pop_agree3{height:391px;margin-top:-195px;background-position:0 -1384px}
.pop_apply .pop_agree3 strong{font-weight:normal;line-height:35px;color:#ffbfac}
.pop_apply .pop_agree3 .btn_confirm{margin-top:27px}

@media only screen and (-webkit-min-device-pixel-ratio:1.3){
	.section2, .section3{background-attachment:local}
	.section .title h3, .section .title p, .section2 .event_list .e1, .section2 .event_list .e2, .section3 .event_list .e1, .section3 .event_list .e2, .section3 .event_list .e3{opacity:1;transform:translateX(0)}
}