@charset "utf-8";
@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: normal;
	src: url('https://gimunique.github.io/common/font/NanumMyeongjo.eot');
	src: local(※), url('https://gimunique.github.io/common/font/NanumMyeongjo.woff') format('woff');
}
@font-face {
	font-family: 'NanumMyeongjoBold';
	font-style: normal;
	font-weight: normal;
	src: url('https://gimunique.github.io/common/font/NanumMyeongjoBold.eot');
	src: local(※), url('https://gimunique.github.io/common/font/NanumMyeongjoBold.woff') format('woff');
}