@charset 'utf-8';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;/*font: inherit;*/vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block}
ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
legend{display:none}
ins{text-decoration:none}
del{text-decoration:line-through}

/*후따 소개페이지*/
.blind{position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
body{color:#283038;font-size:14px;line-height:1.15;font-family:'맑은 고딕','Malgun Gothic','굴림',Gulim,Helvetica,sans-serif;background:#e0e7ec;-webkit-text-size-adjust:none}
#wrap{min-width:320px}
#wrap.fixed{padding-top:350px}

/*header*/
header{position:relative;overflow:hidden;z-index:20}
header .cont{position:relative;width:320px;padding:190px 0 115px;margin:0 auto;z-index:10}
header .text{position:absolute;bottom:178px;left:52px;width:216px;height:122px;overflow:hidden;background:url("../images/bg_text_header.png") no-repeat;background-size:216px 122px;-webkit-background-size:216px 122px}
header .btn_download{display:block;width:160px;height:45px;overflow:hidden;text-indent:-999em;background:url("../images/spr_intro_m.png") no-repeat;background-size:210px 45px;-webkit-background-size:210px 45px;margin:0 auto}
header .icon_arrow{display:block;position:absolute;top:265px;left:50%;width:45px;height:45px;overflow:hidden;background:url("../images/spr_intro_m.png") no-repeat -165px 0;background-size:210px 45px;-webkit-background-size:210px 45px;margin-left:-23px}
header .bg{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff}
.fixed header{position:fixed;top:0;left:0;width:100%}
.fixed header .cont{padding:10px 0}
.fixed header .bg{opacity:0.8}

/*contents*/
#contents{background:#f64747}
#contents div[class*="page_"]{position:relative;width:320px;height:625px;padding-top:25px;margin:0 auto}
#contents div[class*="page_"] .text{width:320px;height:605px;overflow:hidden;background-size:320px 605px;-webkit-background-size:320px 605px}
#contents div.page_3{height:650px}
#contents div.page_4{height:630px}
#contents .page_1 .text{background:url("../images/m_page_1.jpg") no-repeat}
#contents .page_2 .text{background:url("../images/m_page_2.jpg") no-repeat}
#contents .page_3 .text{background:url("../images/m_page_3.jpg") no-repeat}
#contents .page_4 .text{background:url("../images/m_page_4.jpg") no-repeat}

/*footer*/
footer{height:50px}
footer p{color:#bdc3c7;font-size:12px;line-height:50px;text-align:center}